/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";
.basket-popup {
  width: 20%;
  position: fixed;
  top: 0px;
  z-index: 1;
}
.text-hidden{
    display:none;
  }
