* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
  color: black;
  text-align: center;
}


